<!DOCTYPE html>
<html>

    <head>
        <title> Lucas Stephanou - {{ page.title }}</title>
        <meta name="author" content="Lucas Stephanou" />
        <meta charset='utf-8' />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta name="description" content="personal home page of Lucas Stephanou" />

        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
    </head>

    <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/lucasts/lucasts">GitHub</a>

          <h1 id="project_title">Lucas Stephanou</h1>
          <h2 id="project_tagline">lucasts</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
            {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Lucas Stephanou maintained by <a href="https://github.com/lucasts">lucasts</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4521679-1']);
      _gaq.push(['_setDomainName', 'lucas-ts.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>    


  </body>
</html>
