<!DOCTYPE html>
<html>

    <head>
        <title>{% if page.title %} {{ page.title }} {% endif %} -  Lucas Stephanou</title>
        <meta name="author" content="Lucas Stephanou" />
        <meta charset='utf-8' />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta name="description" content="personal home page of Lucas Stephanou" />
        <link rel="stylesheet" href="/stylesheets/style.css">
        <!--[if IE 7]>
          <html class="ie7">
          <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-ie7.min.css">
        <![endif]-->
        <!--[if IE 8]><html class="ie8"> <![endif]-->
          <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/images/icons/favicon.png">
    </head>

    <body>


  <header>

  </header>
  ==
  {{ content }}
  ==

  <footer>
    <div class="container">
      Inspired by<a href="http://richbray.me/frap/">Frappuccino</a>
    </div>
  </footer>

  <!-- Footer
      ================================================== -->

  <!-- Javascripts
      ================================================= -->
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/custom.js"></script>

    <!-- Analytics
    ================================================== -->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4521679-1']);
      _gaq.push(['_setDomainName', 'lucas-ts.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>
